button{
    font-size: 14px;
    background-color:$color-primario;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    
    
}

.btn {
    background-color: $color-primario;
    color: $color-secundario;
    border-bottom: none;
}
