button{
    font-size: 14px;
    background-color:$color-primario;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: #dcceb3;
    color: black;
    border-bottom: none;
}