#sobreMi {
    display: flex;
    flex-direction: row;
    height: 700px;
    padding: 20px;
    margin: 20px;
    @include media-query-mobile() {
        display: unset;
        padding: 0px;
        margin: 0px;
    }
    @include media-query-tablet(){
        display: unset;
    }
    .contenedor-imagen {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    padding: 50px;
    width: 50%;
    @include media-query-mobile() {
        width: 100%;
        padding: 0px;
        margin-top: 90px;
    }
    @include media-query-tablet(){
        width:auto;
        padding: 10px;
        margin-top: 60px;
    }
    .sobre-mi-img{
        @include media-query-mobile () {
        height: 200px;
        object-fit: cover;
        margin-top: 30px;
    }
        @include media-query-tablet(){
            height: 500px;
            object-fit: cover;
    }
    }
    }
    .contenedor-sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    @include media-query-mobile() {
        width: 100%;
    }
    @include media-query-tablet(){
        width: auto;
    }
    .sobre-mi-titulo{
        font-size: 40px;
        padding-bottom: 10px;
        font-family: "adoha";
        margin-top: 90px;
        @include media-query-mobile() {
            font-size: 25px;
            padding-bottom: 0px;
            text-align: center;
            margin: 20px 25px 10px 25px;
        }
        @include media-query-tablet(){
            font-size: 30px;
            text-align: center;
            margin-top: 0;
        }

        }
    .sobre-mi-texto{
        text-align: justify;
        @include media-query-mobile() {
            margin: 20px 25px 10px 25px; 
            font-size: 15px;
        }
        @include media-query-tablet(){
            font-size: 13px;
            margin: 20px;
        }
        }
    }
    p {
    margin-bottom: 10px;
    }
}

