header {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 90%;
    background-color: $color-primario;
    width: 100%;
    @include media-query-mobile(){
        width: 100%;
    }
    .bg-body-tertiary {
        background-color: unset;
        --bs-bg-opacity: unset;
        justify-content: flex-end;
        height: 90px;
        @include media-query-mobile(){
        width: 100%;
    }
        .navbar-brand{
        margin-left: 25px;
        @include media-query-mobile()
        {
            width: 0px;
        }
        }
        .navbar-toggler {
            border: unset;
        }
        .navbar-collapse{
            justify-content: flex-end;
           
            @include media-query-mobile(){
                background-color: $color-primario;
                color: $color-secundario;
                font-family: 'Poppins', sans-serif; 
                font-size: 18px;
                text-align: center;
            }
            @include media-query-tablet {
                background-color: $color-primario;
                color: $color-secundario;
                font-family: 'Poppins', sans-serif; 
                font-size: 20px;
                text-align: left;
                padding-left: 20px;
            }
            .nav-item {
                justify-content: flex-end;
                transition: all 0.5s ease;
                &:hover {
                    font-size: 20px;
                    transition: all 0.5s ease;
                    font-weight: 600;
                }
                &:active {
                    text-decoration: underline;
                }}
            } 
    }
    }
      




