header {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 90%;
    display: flex;
    flex-direction: row;
    background-color: $color-primario;
    height: 90px;
    width: 100%;
    @include media-query-mobile()
    {
        
    }
    .bg-body-tertiary {
        background-color: unset;
        --bs-bg-opacity: unset;
        justify-content: flex-end;
        @include media-query-mobile(){
        }
        .navbar-brand{
        margin-left: 25px;
        @include media-query-mobile()
        {
            width: 0px;
        }
        }
        .navbar-toggler {
            border: unset;
        }
        .navbar-collapse{
            justify-content: flex-end;
           
            @include media-query-mobile(){
                background-color: $color-primario;
                color: $color-secundario;
                font-family: 'Poppins', sans-serif; 
                font-size: 18px;
                text-align: center;
            }
            @include media-query-tablet {
                background-color: $color-primario;
                color: $color-secundario;
                font-family: 'Poppins', sans-serif; 
                font-size: 20px;
                text-align: center;
            }
            .nav-item {
                justify-content: flex-end;
                transition: all 0.5s ease;
                &:hover {
                    font-size: 20px;
                    transition: all 0.5s ease;
                    font-weight: 600;
                }
                &:active {
                    text-decoration: underline;
                }
                
               
            }
        } 
    }
    @include media-query-mobile() {
    flex-direction: column;
    justify-content: unset;
    height: 90px;
    width: 100%;
    * {
        box-sizing: unset;
    }
    }
    .logo {
        height: auto;
        width: auto;
        object-fit: none;
        @include media-query-mobile() {
        height: 25px;
        object-fit: cover;
        padding-left: 0;
        margin: 20px;
        }
        @include media-query-tablet() {
        height: 30px;
        object-fit: cover;
        }
        }
     
        }
      




